$main-50: #8ABDFF;
$main-100: #7AB4FF;
$main-200: #5CA3FF;
$main-300: #3D91FF;
$main-400: #1F80FF;
$main-500: #006EFF;
$main-600: #005BD1;
$main-700: #0047A3;
$main-800: #003375;
$main-900: #001F47;

$accent: #1CF6FF;
$accent: #4936FF;
$accent-muted: #98B329;
$accent: #D7FF2E;

$accent-text: white;
$accent-text: black;