$main-50: #E3E3E3;
$main-100: #D9D9D9;
$main-200: #C4C4C4;
$main-300: #B0B0B0;
$main-400: #9C9C9C;
$main-500: #878787;
$main-600: #6B6B6B;
$main-700: #4F4F4F;
$main-800: #333333;
$main-900: #171717;
$main-1000: #080808;

$accent: #1CF6FF;
$accent: #4936FF;
$accent-muted: #98B329;

$accent: #3b82f6;
$accent-muted: #6b46c1;

$accent-text: white;
$accent-text: black;